<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="row">
        <div class="col-6" style="display: inline-block">
            <h1>Add an Author</h1>
            <form action="/process" method="POST">
            <div class="form-group">
                <label for="">Name:</label><input type="text" class="form-control" name="name"><br>
                <label for="">Notes:</label><textarea class="form-control" name="notes" rows="3"></textarea><br>
                <button name="submit" class="btn btn-primary" role="button">Add</button> 
            </form>
            </div>
        </div>

        <div class="col-6">
            <table class="table table-striped table-inverse table-responsive">
                <thead class="thead-inverse">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {%for author in authors%}
                        <tr>
                            <td scope="row">{{author.id}}</td>
                            <td>{{author.title}}</td>
                            <td><a href="">Action</a></td>
                        </tr>
                        {%endfor%}
                    </tbody>
            </table>
        </div>
    </div>
    </div>
</body>
</html>